{% extends 'author_manager/base.html' %}

{% block content %}
<div class="container" style="padding-top: 35px; font-family: roboto; width: 600px;">

    <div class="search_author mb-5">
        <form action="{% url 'author_manager:search_author' %}" method="get">
            <div class="input-group mb-3">
                <input name="q" type="text" class="form-control form-control-lg" placeholder="Search Author">
                <button type="submit" class="input-group-text btn-secondary"><i class="bi bi-search me-2"></i></button>
            </div>
        </form>
    </div>
    
    <div class="card following-list shadow mb-5">
        <h2 class="card-header mb-2 bg-secondary text-white">Followings</h2>
        <div class="card-body">
            <div class="card-text">
                {% if followings %}
                    <ol class="list-group">
                        {% for following in followings %}
                            <div class="card flex-row flex-grow-1 p-2 my-2 align-items-center shadow-sm">
                                <a href="{{following.url}}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="60px" src="/static/img/{{following.profileImage}}" alt="profile picture">
                                        </div>
                                    </div>
                                </a>
                                <a href="{{following.url}}" style="color:black; text-decoration: none;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="ml-2">
                                            {% if following.username %}
                                                <h5>@{{following.username}}</h5>
                                                <h6 class="text-muted pl-2">{{following.displayName}}</h6>
                                            {% else %}
                                                <h5>@{{following.displayName}}</h5>
                                                <h6 class="text-muted pl-2">remote author</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                <div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-1">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="object_id" value="{{following.id}}">
                                        <button type="submit" class="btn btn-outline-danger">Unfollow</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                  </ol>
                {% else %}
                    <h5 class="form-text" style="font-size: 16px">Haven't had any followings yet !</h5>
                {% endif %}   
            </div>
        </div>
    </div>

    <div class="card follower-list shadow mb-5">
        <h2 class="card-header mb-2 bg-secondary text-white">Followers</h2>
        <div class="card-body">
            <div class="card-text">
                {% if followers %}
                    <ol class="list-group">
                        {% for follower in followers %}
                            <div class="card flex-row flex-grow-1 p-2 my-2 align-items-center shadow-sm">
                                <a href="{{follower.url}}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="60px" src="/static/img/{{follower.profileImage}}" alt="profile picture">
                                        </div>
                                    </div>
                                </a>
                                <a href="{{follower.url}}" style="color:black; text-decoration: none;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="ml-2">
                                            {% if follower.username %}
                                                <h5>@{{follower.username}}</h5>
                                                <h6 class="text-muted pl-2">{{follower.displayName}}</h6>
                                            {% else %}
                                                <h5>@{{follower.displayName}}</h5>
                                                <h6 class="text-muted pl-2">remote author</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                  </ol>
                {% else %}
                    <h5 class="form-text" style="font-size: 16px">Haven't had any followers yet !</h5>
                {% endif %}   
            </div>
        </div>
    </div>

    <div class="card friend-list shadow mb-5">
        <h2 class="card-header mb-2 bg-secondary text-white">Friends</h2>
        <div class="card-body">
            <div class="card-text">
                {% if friends %}
                    <ol class="list-group">
                        {% for friend in friends %}
                            <div class="card flex-row flex-grow-1 p-2 my-2 align-items-center shadow-sm">
                                <a href="{{friend.url}}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="60px" src="/static/img/{{friend.profileImage}}" alt="profile picture">
                                        </div>
                                    </div>
                                </a>
                                <a href="{{friend.url}}" style="color:black; text-decoration: none;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="ml-2">
                                            {% if friend.username %}
                                                <h5>@{{friend.username}}</h5>
                                                <h6 class="text-muted pl-2">{{friend.displayName}}</h6>
                                            {% else %}
                                                <h5>@{{friend.displayName}}</h5>
                                                <h6 class="text-muted pl-2">remote author</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                  </ol>
                {% else %}
                    <h5 class="form-text" style="font-size: 16px">Haven't had any friends yet !</h5>
                {% endif %}   
            </div>
        </div>
    </div>

</div>
{% endblock content %}