{% extends 'author_manager/base.html' %}

{% block content %}

<div class="p-3 py-5">
    <h3>EDIT PROFILE</h3>
    <div class="row mt-2 ">
        <div class="col-md-6">
            <label class="labels">Name</label>
            <input type="text" class="form-control" placeholder="Enter your name" value="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="labels">Birthday</label>
            <input type="text" class="form-control" placeholder="Enter your birthday" value="">
        </div>


        <div class="col-md-12">
            <label class="labels">Email Address</label>
            <input type="text" class="form-control" placeholder="Enter Email Address" value="">
        </div>

        <div class="col-md-12">
            <label class="labels">Github Link</label>
            <input type="text" class="form-control" placeholder="Enter Github Link" value="">
        </div>

        <div class="col-md-12">
            <label class="labels">About</label>
            <input type="text" class="form-control" placeholder="Fun facts about you" value="">
        </div>



    </div>
    <div class="mt-5"><button class="btn btn-warning profile-button" type="button">Save Profile</button></div>

</div>

{% endblock content %}