
{% extends 'author_manager/base.html' %}
{% load static %}

{% block profileLink %} 
<li><a class="dropdown-item" href="{% url 'author_manager:profile' profile.id %}">Profile</a></li>
{% endblock profileLink%}

{% block content %}

<div class="row align-items-start ">
    <div class="card col-md-2 mt-5 ml-5" style="height: 50%;">
        <div class="card-body align-items-center text-center">
            
            <img class="rounded-circle border border-secondary" width="150" src="{% static 'img/'|add:profile.profileImage %}" alt="profile_picture">
            <div class="mt-4">
                <div class="h3 m-0">@{{profile.user.username}}</div>
                <div class="h5 text-muted">{{profile.displayName}}</div>
            </div>
           
            {% if profile.id == request.user.author.id %}
            <a href="{% url 'author_manager:editProfile' user.author.id %}"><button type="button" class="btn btn-warning mt-3" id= "edit_btn">Edit Profile</button></a>
            {% endif %}
        </div>
    </div>

    <div class="col mt-5 ">
        <div class="col card mb-4 " style="width: 50%;">

            <h3 class=" card-title mt-3 ml-3">Profile</h3>
            <div class=" card-body row ">
                <div class="col-md-12 mb-3">
                    <i class="bi bi-person-fill "></i>
                    <span class="ml-2">{{ profile.displayName }}</span>
                </div>
                <div class="col-md-12 mb-3">
                    <i class="fa fa-birthday-cake"></i>
                    <span class="ml-2">{{ profile.birthday }}</span>
                </div>
                <div class="col-md-12 mb-3">
                    <i class="bi bi-envelope"></i>
                    <span class="ml-2">{{ profile.email }}</span>
                </div>
                <div class="col-md-12 mb-3 ">
                    <i class="bi bi-github"></i>
                    <span class="ml-2">{{ profile.github }}</span>
                </div>
                
            </div>

        
        </div>
        <div class="col card " style="width: 50%;">
            <h3 class="card-title mt-3 ml-3">About</h3>
            <div class=" card-body ">
                <p class="card-text">{{ profile.about }}</p>  
            </div>
        </div>

    </div>

    <!-- Add my-posts here if have time -->
    
</div>



{% endblock content %}