{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="justify-content-left container-fluid">
        <div class="row text-center mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{% url 'posts:search' %}" class="" method="get">
                    <div class="input-group mb-3">
                        <input name="q" type="text" class="form-control form-control-lg" placeholder="Search Post">
                        <button type="submit" class="input-group-text btn-secondary"><i class="bi bi-search me-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gutters-sm" style="margin-top: 20px; margin-left:20px" >
            <div class="col-md-2 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="rounded-circle border border-secondary" width="150"
                                 src="{% static 'img/'|add:author.profileImage %}" alt="profile picture">
                            <div class="mt-4">
                                <div class="h3 m-0">@{{ user.username }}</div>
                                <div class="h5 text-muted">{{ author.displayName }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col border-end">
                                <p class="text-center h6 mt-2 mb-1">{{ author.followings.all.count }}</p>
                                <p class="text-center h7">Following</p>
                            </div>
                            <div class="col border-end">
                                <p class="text-center h6 mt-2 mb-1">{{ author.followers.all.count }}</p>
                                <p class="text-center h7">Followers</p>
                            </div>
                            <div class="col">
                                <p class="text-center h6 mt-2 mb-1">{{ friends_count }}</p>
                                <p class="text-center h7">Friends</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 mt-3">
                <div class="row " id="post-stream">
                    <div class="col-md-5 ml-5 border-right border-2" id="my_node"></div>

                    <div class="col-md-5 ml-5" id="remote_node">
                        <div id="remote_fetching">
                            <div class="d-flex align-items-center">
                                <h4>Fetching Remote Posts...</h4>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                            </div>
                            <br>
                            <div class="card" aria-hidden="true">
                                <div class="card-body">
                                  <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                  </h5>
                                  <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-8"></span>
                                  </p>
                                  <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                                </div>
                              </div>
                        </div>
                    </div>

                        <br>

                    </div>
                    <div class="col-md-5 ml-4 text-center" >
                        <button class="bi bi-three-dots loadmoreBtn" style="visibility: hidden" ></button>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script>
        function Timestamp(time) {
            return new Date(time).toLocaleString('en-US', {
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'short', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });
        }

        function createPostCard(post) {
            var postTimestamp = new Date(post.published).toLocaleString('en-US', {
                weekday: 'short', // long, short, narrow
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'long', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });

            var postVisibility = post.visibility;
            var postVisibilityIcon = "";
            switch (postVisibility) {
                case "public":
                    postVisibilityIcon = `<i class="card-link text-success fa-solid fa-earth-americas"></i>`;
                    break;
                case "private":
                    postVisibilityIcon = `<i class="card-link text-danger fa-solid fa-lock"></i>`;
                    break;
                case "friends":
                    postVisibilityIcon = `<i class="card-link fa-solid text-primary fa-user-group"></i>`;
                    break;
            }
            const postCardsHtmlParts = [`
                <div class="row postCard" id="${post.id}">
                    <div class="col-md-1 mr-2">
                        <img class="rounded-circle border border-2 shadow-sm"
                            style="border-color: gray"
                            width="50"
                            src="/static/img/${post.author_image}"
                            alt="profile picture">
                            <p class="text-end"><i class="fa-solid fa-turn-up fa-rotate-90 text-muted mt-2"></i></p>

                    </div>
                    <div class="col-md-9 mb-3 ml-1">
                        <div class="card shadow-sm">
                            <div class="card-header" style="background-color: #A7C7E7">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="authors/${post.author.id}"
                                        style="color:black;
                                                text-decoration: none;">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="h6 m-0 text-muted">@${post.author_username}</div>
                                        </div>
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="authors/${post.author.id}/posts/${post.id}" style="text-decoration: none;color: black">${post.title}</a></h3>
                                <div class="card-text fs-6 text-muted">
                                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                                </div>
                                <p>
                                    <p class="card-text fs-5 fw-light">
                                        ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseLocal-${post.id}" role="button" aria-expanded="false" aria-controls="collapseLocal-${post.id}">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </p>
                                </p>
                                <div class="collapse" id="collapseLocal-${post.id}">
                                    <div class="card card-body">
                                        <p>
                                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                                        </p>
                                        <p>
                                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-text" id="post-content">${post.content}</div>
                            `,
                post.image ? `
                                <hr>
                                <img class="card-img-bottom" src="${post.image}">
                            `
                    : "",
                `
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="card-link text-muted" style="text-decoration: none;"
                                   onclick="postLike('${post.author.id}', '${post.id}')"><i class="fa-solid fa-thumbs-up"></i>
                                   <span>${getNumLikesText(post.num_likes)}</span></a>

                                <a class="card-link text-muted" style="text-decoration: none;"
                                data-bs-toggle="collapse"
                                href="#collapseComments-${post.id}"
                                aria-expanded="false">
                                <i class="fa-solid fa-comment-dots"></i> Comment</a>
                                <a href="#" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseComments-${post.id}">
                            <div class="card  " >
                                    <a style="text-decoration: none;" class= " input-group " href="/authors/${post.author.id}/posts/${post.id}#comment-text-${post.id}" target="_blank">
                                        <textarea placeholder="Comment on this post's detail page" rows="1" class="form-control comment-text-${post.id}"></textarea>
                                    </a>
                            </div>
                            ${post.commentsSrc.size ? `<div class=" card justify-content-center pb-2 comment-wrapper-${post.id}">
                                ${post.commentsSrc.comments.map(comment =>{
                                        var comment_html = `<div class=" justify-content-center py-2">
                                                    <div class="pb-2 px-2 mx-2" style="background-color: #00000008;
                                                        box-shadow: 5px 5px 2px #cccccc;">
                                                        <p class="card-text"> ${comment.comment}</p>
                                                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                            <span><a href="/authors/${comment.author.id}">
                                                                ${comment.author_displayName}
                                                            </a></span>
                                                            <span>${Timestamp(comment.published)} </span>
                                                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                                                    style="text-decoration: none;"
                                                                    onclick="postLike('${comment.author.id}', '${post.id}', '${comment.id}')">
                                                                <i class="fa-solid fa-thumbs-up"></i>
                                                                <span> ${getNumLikesText(comment.num_likes)}</span>
                                                            </a></div>
                                                        </div>
                                                    </div>
                                                </div>`
                                        if ( post.visibility != "friends" ) {
                                                return comment_html
                                        }
                                        //current user is the author of that post, or current user is comment author or that comment belongs to post author
                                        else if ((post.author.id == `{{author.id}}`) || (comment.author.id == `{{author.id}}`) || (comment.author.id == post.author.id)) {
                                            return comment_html
                                        }
                                }).join('')}
                            </div>` : ''}
                        </div>
                    </div>
                </div>
                <br>
                `];
            return postCardsHtmlParts.join('');
        }

        function createRemotePostCard(post) {
            var postTimestamp = new Date(post.published).toLocaleString('en-US', {
                weekday: 'short', // long, short, narrow
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'long', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });

            var postVisibility = post.visibility;
            var postVisibilityIcon = "";
            switch (postVisibility) {
                case "public":
                    postVisibilityIcon = `<i class="card-link text-success fa-solid fa-earth-americas"></i>`;
                    break;
                case "private":
                    postVisibilityIcon = `<i class="card-link text-danger fa-solid fa-lock"></i>`;
                    break;
                case "friends":
                    postVisibilityIcon = `<i class="card-link fa-solid text-primary fa-user-group"></i>`;
                    break;
            }
            const remoteCardsHtmlParts = [`
                <div class="row" id="${post.id}">
                    <div class="col-md-1 mr-2">
                        <img class="rounded-circle border border-2 shadow-sm"
                            style="border-color: gray"
                            width="50"
                            src="/static/img/${post.author_image}"
                            alt="profile picture">
                            <p class="text-end"><i class="fa-solid fa-turn-up fa-rotate-90 text-muted mt-2"></i></p>

                    </div>
                    <div class="col-md-9 mb-3 ml-1">
                        <div class="card shadow-sm">
                            <div class="card-header" style="background-color: #A7C7E7">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"
                                        style="color:black;
                                                text-decoration: none;">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="h6 m-0 text-muted">@${post.author_username}</div>
                                        </div>
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="#" style="text-decoration: none;color: black">${post.title}</a></h3>
                                <div class="card-text fs-6 text-muted">
                                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                                </div>
                                <p>
                                    <p class="card-text fs-5 fw-light">
                                        ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseExample-${post.id}" role="button" aria-expanded="false" aria-controls="collapseExample-${post.id}">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </p>
                                </p>
                                <div class="collapse" id="collapseExample-${post.id}">
                                    <div class="card card-body">
                                        <p>
                                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                                        </p>
                                        <p>
                                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-text" id="post-content">${post.content}</div>
                            `,
                post.image ? `
                                <hr>
                                <img class="card-img-bottom" src="${post.image}">
                            `
                    : "",
                `
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="card-link text-muted" style="text-decoration: none;"
                                   onclick="remotePostLike('${post.source}')"><i class="fa-solid fa-thumbs-up"></i>
                                   <span id="likes-${post.id}">Like</span></a>

                                <a class="card-link text-muted" style="text-decoration: none;"
                                data-bs-toggle="collapse"
                                href="#collapseCommentsRemote-${post.id}"
                                aria-expanded="false">
                                <i class="fa-solid fa-comment-dots"></i> Comment</a>
                                <a href="#" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseCommentsRemote-${post.id}">
                            <div class="card  " >
                                    <div class= " input-group ">
                                        <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text-${post.id}" ></textarea>

                                        <button type="submit" data-answer="${post.id}" class="btn-floating save-comment-remote"><i class="bi bi-plus"></i> </button>
                                    </div>
                            </div>
                            ${post.commentsSrc.size ? `<div class=" card justify-content-center pb-2 comment-wrapper-${post.id}">
                                ${post.commentsSrc.comments.map(comment =>{
                                    if ( post.visibility != "friends" ) {
                                                return`<div class=" justify-content-center py-2">
                                        <div class="pb-2 px-2 mx-2" style="background-color: #00000008;
                                             box-shadow: 5px 5px 2px #cccccc;">
                                            <p class="card-text"> ${comment.comment}</p>
                                            <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                <span><a href="#">
                                                    ${comment.author_displayName}
                                                </a></span>
                                                <span>${Timestamp(comment.published)} </span>
                                                <div><a href="javascript:void(0)" class="card-link text-muted"
                                                        style="text-decoration: none;"
                                                        onclick="remotePostLike('${comment.id}')">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    <span> ${getNumLikesText(comment.id)}</span>
                                                </a></div>
                                            </div>
                                        </div>
                                    </div>`
                                            }

                                            //current user is the author of that post, or current user is comment author or that comment belongs to post author
                                            else if ((post.author.id == `{{author.id}}`) || (comment.author.id == `{{author.id}}`) || (comment.author.id == post.author.id)) {
                                                return `
                                                    <div class=" justify-content-center py-2">
                                                        <div class="pb-2 px-2 mx-2"
                                                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;"
                                                        >  <p class="card-text"> ${comment.comment}</p>
                                                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                            <span ><a href="/authors/${comment.author.id}">
                                                                ${comment.author_displayName}</a></span>
                                                                <span>${Timestamp(comment.published)} </span>
                                                                <div><a href="javascript:void(0)" class="card-link text-muted"
                                                                        style="text-decoration: none;"
                                                                        onclick="remotePostLike('${comment.id}')">
                                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                                    <span> ${getNumLikesText(comment.id)}</span>
                                                                </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    `


                                            }

                }).join('')}
                            </div>` : ''}
                        </div>
                    </div>
                </div>
                <br>
                `];
            return remoteCardsHtmlParts.join('');

        }



        var pageNumb = 1;

        function fetchPosts(){

            $.ajax({
                type: 'GET',
                url: "{% url 'posts:all_posts_api' %}",
                dataType: 'json',
                success: (data, status) => {
                    // Get the latest post from the API
                    var postLatestFromApi = data.posts[0];
                    // Get the latest post from the DOM
                    var rootFirstChild = document.getElementById("my_node").firstChild;
                    var postLatestElement = rootFirstChild ? rootFirstChild.nextElementSibling : null;
                    var postLatestElementId = postLatestElement ? postLatestElement.id : "empty";

                    if (postLatestElementId == "empty") {
                        var postCardsHtml = '';
                        data.posts.map(post => {
                            postCardsHtml += createPostCard(post);

                        });
                        document.getElementById("my_node").innerHTML += postCardsHtml;
                    }
                    else if (postLatestElementId != postLatestFromApi.id) {
                        var rootElement = document.getElementById("my_node")
                        rootElement.innerHTML = createPostCard(postLatestFromApi) + rootElement.innerHTML
                    }
                    var countPosts =  $(".postCard").length;
                    if (countPosts == 5) {
                        document.getElementsByClassName("loadmoreBtn")[0].style.visibility = 'visible';
                    }
                    // Inject bootstrap class card-img-bottom to constrain inline image sizes
                    document.querySelectorAll("#post-content img:not(.card-img-bottom)").forEach(postContentInlineImg =>
                        postContentInlineImg?.classList.add('card-img-bottom')
                    );
                },
                error: (error) => {
                    console.log(error);
                }
            });

            $.ajax({
                type: 'GET',
                url: "{% url 'posts:remote_posts_api' %}",
                dataType: 'json',
                success: (data, status) => {
                    // Remove the Fetching placeholder
                    document.getElementById("remote_fetching").remove();
                    // Get the latest post from the API
                    var postLatestFromApi = data.posts[0];
                    // Get the latest post from the DOM
                    var rootFirstChild = document.getElementById("remote_node").firstChild;
                    var postLatestElement = rootFirstChild ? rootFirstChild.nextElementSibling : null;
                    var postLatestElementId = postLatestElement ? postLatestElement.id : "empty";
                    console.log(postLatestElementId)
                    console.log(postLatestFromApi.id)
                    if (postLatestElementId == "empty") {
                        var remoteCardsHtml = '';
                        data.posts.map(post => {
                            remoteCardsHtml += createRemotePostCard(post);

                        });
                        document.getElementById("remote_node").innerHTML += remoteCardsHtml;
                    } else if (postLatestElementId != postLatestFromApi.id) {
                        var rootElement = document.getElementById("remote_node")
                        rootElement.innerHTML = createRemotePostCard(postLatestFromApi) + rootElement.innerHTML
                    }

                    // Inject bootstrap class card-img-bottom to constrain inline image sizes
                    document.querySelectorAll("#post-content img:not(.card-img-bottom)").forEach(postContentInlineImg =>
                        postContentInlineImg?.classList.add('card-img-bottom')
                    );
                    // Set likes count on each post
                    data.posts.forEach(post => remoteSetNumLikesText(post.source));
                },
                error: (error) => {
                    console.log(error);
                }
            });



            $(document).ready(function OnClickLoadMore(){
                $(".loadmoreBtn").off('click').on('click', function(){
                    pageNumb++;
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'posts:all_posts_api' %}",
                        data: {
                            page: pageNumb,
                        },
                        dataType: 'json',
                        success: (data, status) => {

                            var postCardsHtml = '';
                            data.posts.map(post => {
                                postCardsHtml += createPostCard(post);
                            });
                            document.getElementById("my_node").innerHTML += postCardsHtml;
                            var countPosts =  $(".postCard").length;
                            if (countPosts == data.count) {
                                $(".loadmoreBtn").remove();

                            }
                        },
                        error: (error) => {
                            console.log(error);
                            $(".loadmoreBtn").remove();
                        }
                    });
                })
            });

            // $(document).ready(function ClickOnComment(){
            //     $(".save-comment").off('click').on('click', function(){
            //         var _postid=$(this).data('answer')
            //         var _comment=$(".comment-text-postID".replace("postID", _postid)).val();

            //         // AJX
            //         $.ajax({
            //             url:"/authors/{{user.author.id}}/posts/postid/comments".replace("postid", _postid),
            //             type: "post",
            //             data:{
            //                 comment:_comment,
            //                 post:_postid,
            //                 csrfmiddlewaretoken:"{{csrf_token}}"
            //             },
            //             dataType: 'json',
            //             success:function(res){
            //                 if(res.bool==true){
            //                     console.log("Hello {{user.author.id}}")
            //                     $(".comment-text-postID".replace("postID", _postid)).val('')

            //                     // Added new comment
            //                     var _url = "{% url 'author_manager:profile' user.author.id%}";
            //                     var _html= `<div class=" justify-content-center py-2">
            //                                         <div class="pb-2 px-2 mx-2"
            //                                             style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
            //                                             <span class="card-text">${_comment}</span>
            //                                             <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
            //                                                 <span ><a href='${_url}'>{{request.user.author}}</a></span>
            //                                                 <span>${Timestamp(res.published)}</span>
            //                                                 <div><a href="javascript:void(0)" class="card-link text-muted"
            //                                                         style="text-decoration: none;"
            //                                                         onclick="postLike('${res.author}', '${_postid}', '${res.id}')">
            //                                                     <i class="fa-solid fa-thumbs-up"></i>
            //                                                     <span> ${getNumLikesText(res.num_likes)}</span>
            //                                                 </a></div>
            //                                             </div>
            //                                         </div>
            //                                 </div>
            //                                 `;

            //                     $(".comment-wrapper-postID".replace("postID", _postid)).prepend(_html);
            //                 }
            //                     $(".save-comment").removeClass('disabled');
            //             }
            //         })
            //     })
            // });
            // $(document).ready(function ClickOnComment(){
            //     $(".save-comment-remote").off('click').on('click', function(){
            //         var _posturl=$(this).data('answer')
            //         var _postid = _posturl.slice(-8)
            //         var _comment=$(".comment-text-postID".replace("postID", _postid)).val();
            //         console.log(_postid)
            //         console.log(_posturl)
            //         console.log(_comment)
            //         $.ajax({

            //             url:_posturl+"/comments",
            //             type: "post",
            //             // username: "squawker-dev",
            //             // password: "cmput404",
            //             data:
            //                 {comment: _comment,
            //                 csrfmiddlewaretoken:"{{csrf_token}}"
            //                 },

            //             dataType: 'json',
            //             success:function(data, status){
            //                console.log("POST SUCCCESS");
            //             }
            //         })
            //     })
            // });

        }


        fetchPosts();

        function getNumLikesText(numLikes) {
            let text = "Like";
            if (numLikes > 1) {
                text = `${numLikes} Likes`;
            } else if (numLikes > 0) {
                text = `${numLikes} Like`;
            }
            return text;
        }

        async function postLike(authorId, postId, commentId) {
            await fetch(`/api/authors/${authorId}/inbox`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    item: {
                        type: 'like',
                        summary: '{{ request.user.author }} Liked your '.concat(commentId ? 'comment' : 'post'),
                        author: '{{ request.user.author.id }}',
                        post: postId,
                        comment: commentId ?? null
                    }
                })
            })
                .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    }
                })
                .then(data => {
                    if (!data) {
                        return;
                    }
                    const numLikesRegex = /\d+/;
                    if (data.comment) {
                        const commentLikeSpan = document.querySelector(
                            `a[onclick="postLike('${authorId}', '${postId}', '${commentId}')"]>span`);
                        const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                        commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    } else {
                        const postLikeSpan = document.querySelector(
                            `a[onclick="postLike('${authorId}', '${postId}')"]>span`);
                        const numLikes = parseInt(postLikeSpan.innerText.match(numLikesRegex)) || 0;
                        postLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    }
                });
        }

        async function remotePostLike(likedObject) {
            const objectUrl = new URL(likedObject);
            const objectUrlPath = objectUrl.pathname.split('/');
            const authorId = objectUrlPath[2];
            const postId = objectUrlPath[4];
            const likedObjectType = typeof objectUrlPath[6] === 'undefined' ? 'Post' : 'Comment';
            await fetch(`/api/node/authors/${authorId}/inbox`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'node': objectUrl.origin + '/'
                },
                body: JSON.stringify({
                    item: {
                        type: 'like',
                        summary: `'{{ request.user.author }} Liked your ${likedObjectType}`,
                        author: {
                            type: 'author',
                            id: '{{ request.user.author.id }}',
                            host: 'https://squawker-cmput404.herokuapp.com/',
                            displayName: '{{ request.user.author.displayName }}',
                            url: 'https://squawker-cmput404.herokuapp.com/authors/{{ request.user.author.id }}/',
                            github: 'http://github.com/{{ request.user.author.github }}/',
                            profileImage: 'https://squawker-cmput404.herokuapp.com/static/img/{{ request.user.author.profileImage }}/'
                        },
                        object: postId,
                    }
                })
            })
                .then(() => {
                    const numLikesRegex = /\d+/;
                    const commentLikeSpan = document.querySelector(`a[onclick="remotePostLike('${likedObject}')"]>span`);
                    const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                    commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    })
                .catch(reason => console.log(reason));
        }

        async function remoteSetNumLikesText(likedObject) {
            const objectUrl = new URL(likedObject);
            const objectUrlPath = objectUrl.pathname.split('/');
            const authorId = objectUrlPath[2];
            const postId = objectUrlPath[4];
            const commentId = objectUrlPath[6];
            const likedObjectType = typeof commentId === 'undefined' ? 'Post' : 'Comment';
            let fetchUrl = `/api/node/authors/${authorId}/posts/${postId}`
            if (likedObjectType === 'Comment') {
                fetchUrl += `/comments/${commentId}`;
            }
            fetchUrl += '/likes';
            await fetch(fetchUrl, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'node': objectUrl.origin + '/'
                    }
                }
            )
                .then(response => {
                    if (response.status === 200)
                        return response.json();
                })
                .then(data => {
                    const numLikes = data?.items?.length || 0;
                    let numLikesText = "Like";
                    if (numLikes > 1) {
                       numLikesText = `${numLikes} Likes`;
                    } else if (numLikes > 1) {
                       numLikesText = `${numLikes} Like`;
                    }
                    document.querySelector(`span#likes-${postId}`).textContent = numLikesText;
                })
                .catch(reason => console.error(reason));
        }

    </script>



{% endblock %}
        