{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="justify-content-left container-fluid">
        <div class="row text-center mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{% url 'posts:search' %}" class="" method="get">
                    <div class="input-group mb-3">
                        <input name="q" type="text" class="form-control form-control-lg" placeholder="Search Post">
                        <button type="submit" class="input-group-text btn-secondary"><i class="bi bi-search me-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gutters-sm" style="margin-top: 20px; margin-left:20px" >
            <div class="col-md-2 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="rounded-circle border border-secondary" width="150"
                                 src="{% static 'img/'|add:author.profileImage %}" alt="profile picture">
                            <div class="mt-4">
                                <div class="h3 m-0">@{{ user.username }}</div>
                                <div class="h5 text-muted">{{ author.displayName }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col border-end">
                                <p class="text-center h6 mt-2 mb-1">{{ author.followings.all.count }}</p>
                                <p class="text-center h7">Following</p>
                            </div>
                            <div class="col border-end">
                                <p class="text-center h6 mt-2 mb-1">{{ author.followers.all.count }}</p>
                                <p class="text-center h7">Followers</p>
                            </div>
                            <div class="col">
                                <p class="text-center h6 mt-2 mb-1">{{ friends_count }}</p>
                                <p class="text-center h7">Friends</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-10 mt-3">
                <div class="row " id="post-stream">

                    <!-- <div class="col-md-5 ml-5 border-right border-2"> -->
                        <div  id="my_node"></div>
                        <!-- <div class=" text-center" >
                            <button class="bi bi-three-dots loadmoreBtn" style="visibility: hidden" ></button>
                        </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-md-5 ml-5"> -->
                        <div  id="remote_node">
                            <div  id="remote_fetching">
                                <div class="d-flex align-items-center">
                                    <h4>Fetching Remote Posts...</h4>
                                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                </div>
                                <br>
                                <div class="card" aria-hidden="true">
                                    <div class="card-body">
                                    <h5 class="card-title placeholder-glow">
                                        <span class="placeholder col-6"></span>
                                    </h5>
                                    <p class="card-text placeholder-glow">
                                        <span class="placeholder col-7"></span>
                                        <span class="placeholder col-4"></span>
                                        <span class="placeholder col-4"></span>
                                        <span class="placeholder col-6"></span>
                                        <span class="placeholder col-8"></span>
                                    </p>
                                    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center " >
                            <button class="bi bi-three-dots loadmoreBtn" style="visibility: hidden"  ></button>
                            <!-- <button class="bi bi-three-dots loadmoreBtn-remote" style="visibility: hidden"  ></button> -->
                        </div>
                    <!-- </div> -->

                    <br>

                    </div>


                </div>
            </div>

        </div>

    </div>

    <script>

        function Timestamp(time) {
            return new Date(time).toLocaleString('en-US', {
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'short', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });
        }

        function createPostCard(post) {
            postCardHTML = `
                <div class="row postCard" id="post-${post.id}">
                    <div class="col-md-1 mr-2">
                        <img class="rounded-circle border border-2 shadow-sm"
                            style="border-color: gray"
                            width="50"
                            src="/static/img/${post.author_image}"
                            alt="profile picture">
                            <p class="text-end"><i class="fa-solid fa-turn-up fa-rotate-90 text-muted mt-2"></i></p>

                    </div>
                    <div class="col-md-9 mb-3 ml-1">
                        <div class="card shadow-sm">
                            <div class="card-header" style="background-color: #e5e5e5">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="authors/${post.author.id}"
                                        style="color:black;
                                                text-decoration: none;">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="h6 m-0 text-muted">@${post.author_username}</div>
                                        </div>
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="authors/${post.author.id}/posts/${post.id}" style="text-decoration: none;color: black">${post.title}</a></h3>
                                <div class="card-text fs-6 text-muted">
                                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                                </div>
                                <p>
                                    <p class="card-text fs-5 fw-light">
                                        ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseLocal-${post.id}" role="button" aria-expanded="false" aria-controls="collapseLocal-${post.id}">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </p>
                                </p>
                                <div class="collapse" id="collapseLocal-${post.id}">
                                    <div class="card card-body">
                                        <p>
                                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                                        </p>
                                        <p>
                                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-text" id="post-content">${post.content}</div>
                            `
            var postTimestamp = new Date(post.published).toLocaleString('en-US', {
                weekday: 'short', // long, short, narrow
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'long', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });

            var postVisibility = post.visibility;
            var postVisibilityIcon = "";
            switch (postVisibility) {
                case "public":
                    postVisibilityIcon = `<i class="card-link text-success fa-solid fa-earth-americas"></i>`;
                    break;
                case "private":
                    postVisibilityIcon = `<i class="card-link text-danger fa-solid fa-lock"></i>`;
                    break;
                case "friends":
                    postVisibilityIcon = `<i class="card-link fa-solid text-primary fa-user-group"></i>`;
                    break;
            }
            const postCardsHtmlParts = [`
                <div class="row postCard" id="post-${post.id}">
                    <div class="col-md-1 mr-2">
                        <img class="rounded-circle border border-2 shadow-sm"
                            style="border-color: gray"
                            width="50"
                            src="/static/img/${post.author_image}"
                            alt="profile picture">
                            <p class="text-end"><i class="fa-solid fa-turn-up fa-rotate-90 text-muted mt-2"></i></p>

                    </div>
                    <div class="col-md-9 mb-3 ml-1">
                        <div class="card shadow-sm">
                            <div class="card-header" style="background-color: #e5e5e5">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="authors/${post.author.id}"
                                        style="color:black;
                                                text-decoration: none;">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="h6 m-0 text-muted">@${post.author_username}</div>
                                        </div>
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="authors/${post.author.id}/posts/${post.id}" style="text-decoration: none;color: black">${post.title}</a></h3>
                                <div class="card-text fs-6 text-muted">
                                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                                </div>
                                <p>
                                    <p class="card-text fs-5 fw-light">
                                        ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseLocal-${post.id}" role="button" aria-expanded="false" aria-controls="collapseLocal-${post.id}">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </p>
                                </p>
                                <div class="collapse" id="collapseLocal-${post.id}">
                                    <div class="card card-body">
                                        <p>
                                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                                        </p>
                                        <p>
                                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-text" id="post-content">${post.content}</div>
                            `,
                post.image ? `
                                <hr>
                                <img class="card-img-bottom" style="object-fit: cover;" src="${post.image}">
                            `
                    : "",
                `
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="card-link text-muted" style="text-decoration: none;"
                                   onclick="postLike('${post.author.id}', '${post.id}')"><i class="fa-solid fa-thumbs-up"></i>
                                   <span>${getNumLikesText(post.num_likes)}</span></a>

                                <a class="card-link text-muted" style="text-decoration: none;"
                                data-bs-toggle="collapse"
                                href="#collapseComments-${post.id}"
                                aria-expanded="false">
                                <i class="fa-solid fa-comment-dots"></i> Comment</a>
                                <a href="authors/${post.author.id}/posts/${post.id}/share" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseComments-${post.id}">
                            <div class="card" >
                                <div class= " input-group ">
                                    <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text-${post.id}" ></textarea>

                                    <button type="submit" onClick="saveComment('${post.id}')" class="btn-floating save-comment"><i class="bi bi-plus"></i> </button>
                                </div>
                            </div>
                            <div class=" card justify-content-center pb-2 comment-wrapper-${post.id}">
                                ${post.commentsSrc.comments.map(comment =>{
                                        var comment_html = `<div class=" justify-content-center py-2">
                                                    <div class="pb-2 px-2 mx-2" style="background-color: #00000008;
                                                        box-shadow: 5px 5px 2px #cccccc;">
                                                        <p class="card-text"> ${comment.comment}</p>
                                                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                            <span><a href="/authors/${comment.author.id}">
                                                                ${comment.author_displayName}
                                                            </a></span>
                                                            <span>${Timestamp(comment.published)} </span>
                                                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                                                    style="text-decoration: none;"
                                                                    onclick="postLike('${comment.author.id}', '${post.id}', '${comment.id}')">
                                                                <i class="fa-solid fa-thumbs-up"></i>
                                                                <span> ${getNumLikesText(comment.num_likes)}</span>
                                                            </a></div>
                                                        </div>
                                                    </div>
                                                </div>`
                                        if ( post.visibility != "friends" ) {
                                            return comment_html
                                        }
                                        //current user is the author of that post, or current user is comment author or that comment belongs to post author
                                        else if ((post.author.id == `{{author.id}}`) || (comment.author.id == `{{author.id}}`) || (comment.author.id == post.author.id)) {
                                            return comment_html
                                        }
                                }).join('')}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                `];
            return postCardsHtmlParts.join('');
        }

        function createRemotePostCard(post) {
            var postTimestamp = new Date(post.published).toLocaleString('en-US', {
                weekday: 'short', // long, short, narrow
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'long', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });

            var postVisibility = post.visibility;
            var postVisibilityIcon = "";
            switch (postVisibility) {
                case "public":
                    postVisibilityIcon = `<i class="card-link text-success fa-solid fa-earth-americas"></i>`;
                    break;
                case "private":
                    postVisibilityIcon = `<i class="card-link text-danger fa-solid fa-lock"></i>`;
                    break;
                case "friends":
                    postVisibilityIcon = `<i class="card-link fa-solid text-primary fa-user-group"></i>`;
                    break;
            }

            const remoteCardsHtmlParts = [`
                <div class="row remotePostcard" id="post-${post.id}">
                    <div class="col-md-1 mr-2">
                        <img class="rounded-circle border border-2 shadow-sm"
                            style="border-color: gray"
                            width="50"
                            src="${post.author_image}"
                            alt="profile picture">
                            <p class="text-end"><i class="fa-solid fa-turn-up fa-rotate-90 text-muted mt-2"></i></p>

                    </div>
                    <div class="col-md-9 mb-3 ml-1">
                        <div class="card shadow-sm">
                            <div class="card-header" style="background-color: #A7C7E7">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"
                                        style="color:black;
                                                text-decoration: none;">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="h6 m-0 text-muted">@${post.author_username}</div>
                                        </div>
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="/authors/${post.author_id}/posts/${post.id}?remote=${post.origin}" target="_blank" style="text-decoration: none;color: black">${post.title}</a></h3>
                                <div class="card-text fs-6 text-muted">
                                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                                </div>
                                <p>
                                    <p class="card-text fs-5 fw-light">
                                        ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseExample-${post.id}" role="button" aria-expanded="false" aria-controls="collapseExample-${post.id}">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                </p>
                                </p>
                                <div class="collapse" id="collapseExample-${post.id}">
                                    <div class="card card-body">
                                        <p>
                                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                                        </p>
                                        <p>
                                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-text" id="post-content">${post.content}</div>
                            `,
                post.image ? `
                                <hr>
                                <img class="card-img-bottom" src="${post.image}" width="200" height="200">
                            `
                    : "",
                `
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="card-link text-muted" style="text-decoration: none;"
                                   onclick="remotePostLike('${post.source}')"><i class="fa-solid fa-thumbs-up"></i>
                                   <span id="likes-${post.id}">Like</span></a>

                                <a class="card-link text-muted" style="text-decoration: none;"
                                data-bs-toggle="collapse"
                                href="#collapseCommentsRemote-${post.id}"
                                aria-expanded="false">
                                <i class="fa-solid fa-comment-dots"></i> Comment</a>
                                <a href="#" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseCommentsRemote-${post.id}">
                            <div class="card" >
                                <div class= " input-group ">
                                    <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text-${post.id}" ></textarea>
                                    <button type="submit" onClick="saveRemoteComment('${post.source}')" class="btn-floating save-comment"><i class="bi bi-plus"></i> </button>
                                </div>
                            </div>
                            <div class=" card justify-content-center pb-2 comment-wrapper-${post.id}">
                                ${post.commentsSrc.comments.map(comment => {
                                    const commentId = parseCommentId(comment.id);
                                    let commentSource = post.source;
                                    if (post.source.endsWith('/')) {
                                        commentSource += `comments/${commentId}`;
                                    } else {
                                        commentSource += `/comments/${commentId}`;
                                    }
                                    var comment_html = `<div class=" justify-content-center py-2">
                                        <div class="pb-2 px-2 mx-2" style="background-color: #00000008;
                                             box-shadow: 5px 5px 2px #cccccc;">
                                            <p class="card-text"> ${comment.comment}</p>
                                            <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                <span><a href="#">
                                                    ${comment.author_displayName}
                                                </a></span>
                                                <span>${Timestamp(comment.published)} </span>
                                                <div><a href="javascript:void(0)" class="card-link text-muted"
                                                        style="text-decoration: none;"
                                                        onclick="remotePostLike('${commentSource}')">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    <span id="likes-${commentId}">Like</span>
                                                </a></div>
                                            </div>
                                        </div>
                                    </div>`
                                    if ( post.visibility != "friends" ) {
                                        return comment_html
                                    }
                                    //current user is the author of that post, or current user is comment author or that comment belongs to post author
                                    else if ((post.author.id == `{{author.id}}`) || (comment.author.id == `{{author.id}}`) || (comment.author.id == post.author.id)) {
                                        return comment_html
                                    }
                            }).join('')}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                `];
            return remoteCardsHtmlParts.join('');

        }



        // var pageNumb = 1;
        var postList = [];
        var postDataList = [];
        // var count = 0;
        function fetchRemotePosts(){
            return $.ajax({
                type: 'GET',
                url: "{% url 'posts:remote_posts_api' %}",
                dataType: 'json',
                success: (data, status) => {
                    postDataList = data.posts;
                    // Remove the Fetching placeholder
                    document.getElementById("remote_fetching").remove();
                    // Get the latest post from the API
                    var postLatestFromApi = data.posts[0];
                    // Get the latest post from the DOM
                    var rootFirstChild = document.getElementById("my_node").firstChild;
                    // var rootFirstChild = document.getElementById("remote_node").firstChild;
                    var postLatestElement = rootFirstChild ? rootFirstChild.nextElementSibling : null;
                    var postLatestElementId = postLatestElement ? postLatestElement.id : "empty";
                    var len = 5;
                    if (postLatestElementId == "empty") {
                        var remoteCardsHtml = '';
                        data.posts.map(post => {
                            postList.push(post)
                        });
                    } 
                    // else if (postLatestElementId != postLatestFromApi.id) {
                    //     var rootElement = document.getElementById("remote_node")
                    //     rootElement.innerHTML = createRemotePostCard(postLatestFromApi) + rootElement.innerHTML
                    // }
                    // Inject bootstrap class card-img-bottom to constrain inline image sizes
                    document.querySelectorAll("#post-content img:not(.card-img-bottom)").forEach(postContentInlineImg =>
                        postContentInlineImg?.classList.add('card-img-bottom')
                    );
                    // Set likes count on each post currently on-screen
                    // remoteSetLikes(postDataList.splice(0, len));
                },
                error: (error) => {
                    console.log(error);
                }
            });
            
        }
        function fetchLocalPosts() {
            return $.ajax({
                type: 'GET',
                url: "{% url 'posts:all_posts_api' %}",
                dataType: 'json',
                success: (data, status) => {
                    // Get the latest post from the API
                    var postLatestFromApi = data.posts[0];
                    // Get the latest post from the DOM
                    var rootFirstChild = document.getElementById("my_node").firstChild;
                    var postLatestElement = rootFirstChild ? rootFirstChild.nextElementSibling : null;
                    var postLatestElementId = postLatestElement ? postLatestElement.id : "empty";

                    if (postLatestElementId == "empty") {
                        // var postCardsHtml = '';
                        data.posts.map(post => {
                            // postCardsHtml += createPostCard(post);
                            postList.push(post)
                        });
                        // document.getElementById("my_node").innerHTML += postCardsHtml;
                    }
                    // else if (postLatestElementId != postLatestFromApi.id) {
                    //     var rootElement = document.getElementById("my_node")
                    //     rootElement.innerHTML = createPostCard(postLatestFromApi) + rootElement.innerHTML
                    // }
                    var countPosts =  $(".postCard").length;
                    if (countPosts == 5) {
                        document.getElementsByClassName("loadmoreBtn")[0].style.visibility = 'visible';
                    }
                    // Inject bootstrap class card-img-bottom to constrain inline image sizes
                    document.querySelectorAll("#post-content img:not(.card-img-bottom)").forEach(postContentInlineImg =>
                        postContentInlineImg?.classList.add('card-img-bottom')
                    );
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
        
        $.when(fetchRemotePosts(), fetchLocalPosts()).done(function(remote, local) {

            const sortpostList = postList.sort( (a,b) => {
                var dateA = new Date(a.published)
                var dateB = new Date(b.published)
                return dateB - dateA
            
            })
            var postCardsHtml = '';
            var len = sortpostList.length;
            for (let i=0; i < len; i++) {
                if (sortpostList[i].remote == "true") {
                    console.log("yes")
                    postCardsHtml = createRemotePostCard(sortpostList[i]);
                } else {
                    postCardsHtml = createPostCard(sortpostList[i]);  
                }
                document.getElementById("my_node").innerHTML += postCardsHtml;
            }
            remoteSetLikes(postDataList);
        });
       
        async function saveComment(postID) {
            var _comment=$(".comment-text-postID".replace("postID", postID)).val();
            var url = `/authors/{{user.author.id}}/posts/${postID}/comments`;
            await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'comment':_comment,
                })
            }).then
            (response => {
                if (response.status === 200) {
                    return response.json();
                }
            }).then(res => {
                if(res.bool==true){
                    $(".comment-text-postID".replace("postID", postID)).val('')
                    // Added new comment
                    var _url = "{% url 'author_manager:profile' user.author.id%}";
                    var _html= `<div class=" justify-content-center py-2">
                                        <div class="pb-2 px-2 mx-2"
                                            style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                                            <span class="card-text">${res.comment}</span>
                                            <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                <span ><a href='${_url}'>{{request.user.author}}</a></span>
                                                <span>${Timestamp(res.published)}</span>
                                                <div><a href="javascript:void(0)" class="card-link text-muted"
                                                        style="text-decoration: none;"
                                                        onclick="postLike('${res.author}', '${postID}', '${res.id}')">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    <span> ${getNumLikesText(res.num_likes)}</span>
                                                </a></div>
                                            </div>
                                        </div>
                                </div>
                                `;
                    $(".comment-wrapper-postID".replace("postID", postID)).prepend(_html);
                }
            });

        }

        var T08 = "http://project-socialdistribution.herokuapp.com/"
        var T05 = "https://cmput404-w22-project-backend.herokuapp.com/"
        var CLONE = "http://squawker-dev.herokuapp.com/"
        async function saveRemoteComment(postSource) {
            var items = postSource.split('/');
            var service = items[0] + "//" + items[2] + "/"

            if (service == T05 ){
                var postID = items[items.length -1];
                var authorID = items[items.length -3];
            }
            else if (service == CLONE) {
                var postID = items[items.length -1];
                var authorID = items[items.length -3];
                service = "https://" + items[2] + "/"
            }
            else {  //T08
                var postID = items[items.length -2];
                var authorID = items[items.length -4];
            }
            var post = service + "authors/" + authorID + "/posts/" + postID
            var comment=$(".comment-text-postID".replace("postID", postID)).val();
            var url = `/api/node/authors/${authorID}/inbox`;

            await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'node': service
                },
                body: JSON.stringify({
                    item: {
                        type: 'comment',
                        comment: comment,
                        post: post
                        // author: {
                        //     type: 'author',
                        //     id: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}/',
                        //     host: 'https://{{ request.get_host }}/',
                        //     displayName: '{{request.user.author.displayName }}',
                        //     url: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}/',
                        //     profileImage: 'https://{{ request.get_host }}/static/img/{{ request.user.author.profileImage }}'
                        // },       
                    }
                })
            }).then (response => {
                if (response.status === 200) {
                    return response;
                }

            }).then(res => {
                $(".comment-text-postID".replace("postID", postID)).val('')
                // Added new comment
                var _url = "{% url 'author_manager:profile' user.author.id%}";
                var _html= `<div class=" justify-content-center py-2">
                                    <div class="pb-2 px-2 mx-2"
                                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                                        <span class="card-text">${comment}</span>
                                        <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                            <span ><a href='${_url}'>{{request.user.author.displayName}}</a></span>
                                            <span>${Timestamp(new Date())}</span>
                                            
                                        </div>
                                    </div>
                            </div>
                            `;
                $(".comment-wrapper-postID".replace("postID", postID)).prepend(_html);
            })
        }
        function getNumLikesText(numLikes) {
            let text = "Like";
            if (numLikes > 1) {
                text = `${numLikes} Likes`;
            } else if (numLikes > 0) {
                text = `${numLikes} Like`;
            }
            return text;
        }

        async function postLike(authorId, postId, commentId) {
            await fetch(`/api/authors/${authorId}/inbox`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    item: {
                        "@context": "https://www.w3.org/ns/activitystreams",
                        summary: '{{ request.user.author }} Liked your '.concat(commentId ? 'comment' : 'post'),
                        type: 'like',
                        author: {
                            id: '{{ request.user.author.id }}',
                            host: '{{ request.user.author.host }}',
                            displayName: '{{ request.user.author.displayName }}',
                            url: '{{ request.user.author.url }}',
                            github: '{{ request.user.author.github }}',
                            profileImage: '{{ request.user.author.profileImage }}'
                        },
                        object: `{{ request.user.author.host }}authors/${authorId}/posts/${postId}`
                            .concat(commentId ? `/comments/${commentId}` : '')
                    }
                })
            })
                .then(response => {
                    if (response.status == 201) {
                        return response.json();
                    } else {
                        return response.json().then(res => Promise.reject(res));
                    }
                })
                .catch(reason => console.error(reason))
                .then(data => {
                    if (!data) {
                        return;
                    }
                    const numLikesRegex = /\d+/;
                    if (commentId) {
                        const commentLikeSpan = document.querySelector(
                            `a[onclick="postLike('${authorId}', '${postId}', '${commentId}')"]>span`);
                        const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                        commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    } else {
                        const postLikeSpan = document.querySelector(
                            `a[onclick="postLike('${authorId}', '${postId}')"]>span`);
                        const numLikes = parseInt(postLikeSpan.innerText.match(numLikesRegex)) || 0;
                        postLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    }
                })
        }

        async function remotePostLike(likedObjectSource) {
            // console.debug(`likedObjectSource=${likedObjectSource}`);
            let objectUrl = {};
            try {
                objectUrl = new URL(likedObjectSource);
            } catch (e) {
                throw Error(`${likedObjectSource} is an invalid URL`);
            }
            const objectUrlPathParts = objectUrl.pathname.split('/');
            const authorsIndex = objectUrlPathParts.findIndex(part => part === 'authors');
            const postsIndex = objectUrlPathParts.findIndex(part => part === 'posts');
            const commentsIndex = objectUrlPathParts.findIndex(part => part === 'comments');
            if (authorsIndex === -1 || postsIndex === -1) {
                throw Error(`Invalid likedObjectSource: ${likedObjectSource}`);
            }
            const authorId = objectUrlPathParts[authorsIndex + 1];
            const likedObjectType = commentsIndex === -1 ? 'Post' : 'Comment';

            let fetchUrl = `/api/node/authors/${authorId}/inbox`;
            // console.debug(`fetchUrl=${fetchUrl}`);
            await fetch(fetchUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'node': objectUrl.origin + '/'
                },
                body: JSON.stringify({
                    item: {
                        type: 'like',
                        summary: `{{ request.user.author }} Liked your ${likedObjectType}`,
                        author: {
                            type: 'author',
                            id: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}',
                            host: 'https://{{ request.get_host }}',
                            displayName: '{{ request.user.author.displayName }}',
                            url: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}',
                            github: {% if request.user.author.github %}
                                        'http://github.com/{{ request.user.author.github }}',
                                    {% else %}
                                        '',
                                    {% endif %}
                            profileImage: 'https://{{ request.get_host }}/static/img/{{ request.user.author.profileImage }}'
                        },
                        object: likedObjectSource
                    }
                })
            })
                .then(response => {
                    // Handle different team response behaviors
                    const hostUrl = objectUrl.origin + '/';
                    if (hostUrl === CLONE) {
                        if (response.status === 201) {
                            return response.json();
                        } else {
                            return response.json().then(res => Promise.reject(res));
                        }
                    }
                    else if (hostUrl === T08) {
                        // TODO: figure out what T08's use of 201 and 200 are
                        if (response.status === 200 || response.status === 201) {
                            return response.json();
                        } else {
                            return response.json().then(res => Promise.reject(res));
                        }
                    } else if (hostUrl === T05) {
                        // TODO: verify
                        if (response.status === 200 || response.status === 201) {
                            return response.json();
                        } else {
                            return response.json().then(res => Promise.reject(res));
                        }
                    }
                })
                .then((data) => {
                    const numLikesRegex = /\d+/;
                    const commentLikeSpan = document.querySelector(`a[onclick="remotePostLike('${likedObjectSource}')"]>span`);
                    const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                    commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                    })
                .catch(reason => console.error(reason));
        }

        async function remoteSetNumLikesText(likedObjectSource) {
            // console.debug(`likedObjectSource=${likedObjectSource}`);
            let objectUrl = ''
            try {
                objectUrl = new URL(likedObjectSource);
            } catch (e) {
                console.error(`${likedObjectSource} is an invalid URL`);
                return;
            }
            const objectUrlPathParts = objectUrl.pathname.split('/');
            const authorsIndex = objectUrlPathParts.findIndex(part => part === 'authors');
            const postsIndex = objectUrlPathParts.findIndex(part => part === 'posts');
            const commentsIndex = objectUrlPathParts.findIndex(part => part === 'comments');
            if (authorsIndex === -1 || postsIndex === -1) {
                throw Error(`Invalid likedObjectSource: ${likedObjectSource}`);
            }
            const authorId = objectUrlPathParts[authorsIndex + 1];
            const postId = objectUrlPathParts[postsIndex + 1];
            // console.debug(`authorId=${authorId}, postId=${postId}`);

            const likedObjectType = commentsIndex === -1 ? 'Post' : 'Comment';

            let fetchUrl = `/api/node/authors/${authorId}/posts/${postId}`;
            let commentId = undefined;
            if (likedObjectType === 'Comment') {
                // console.debug(`commentIndex=${commentsIndex}, commentId=${commentId}`);
                commentId = objectUrlPathParts[commentsIndex + 1];
                if (commentsIndex === -1 || typeof commentId === 'undefined') {
                    throw Error(`Invalid likedObjectSource: ${likedObjectSource}`);
                }
                fetchUrl += `/comments/${commentId}`;
            }
            fetchUrl += '/likes';
            // console.debug(`fetchUrl=${fetchUrl}`);
            await fetch(fetchUrl, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'node': objectUrl.origin + '/'
                    }
                }
            )
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    return response.json().then(res => Promise.reject(res));
                })
                .catch(reason => console.error(reason))
                .then(data => {
                    const numLikes = data?.likes?.length || 0;
                    let numLikesText = "Like";
                    if (numLikes > 1) {
                       numLikesText = `${numLikes} Likes`;
                    } else if (numLikes > 0) {
                       numLikesText = `${numLikes} Like`;
                    }
                    const likesSpan = document.querySelector(`span#likes-${commentId || postId}`);
                    if (likesSpan) {
                        likesSpan.textContent = numLikesText;
                    } else {
                        console.error(`Likes span with id="likes-${commentId || postId}" not found`);
                    }
                });
        }

        function remoteSetLikes(posts) {
            // Set likes count on each post
            {#console.log('setting likes for the following posts:');#}
            {#console.log(posts);#}
            posts.forEach((post) => {
                {#console.log(`looking for div matching query: ` + `div.remotePostcard#post-${post.id}`);#}
                const postDiv = document.querySelector(`div.remotePostcard#post-${post.id}`);
                if (!postDiv) {
                    console.warn(`div with class='remotePostcard' and id='post-${post.id}' not found`);
                    return;
                }
                remoteSetNumLikesText(post.source);
                // Set likes count on each comment
                // console.debug(post);
                post.commentsSrc.comments.forEach(comment => {
                    // comment ID may be a URL or a UUID, depending on the node
                    let commentSource = '';
                    try {
                        // console.debug(`comment.id=${comment.id}`);
                        commentSource = new URL(comment.id);
                    } catch {
                        console.warn(`URL parse failed for comment.id=${comment.id}. Attempting to construct URL manually.`);
                        commentSource = post.source;
                        if (post.source.endsWith('/')) {
                            commentSource += `comments/`;
                        } else {
                            commentSource += `/comments/`
                            // console.debug(`post.source=${post.source}, comment.id=${comment.id}, commentSource=${commentSource}`);
                        }
                        commentSource += comment.id;
                    }
                    // console.debug(`commentSource=${commentSource}`);
                    remoteSetNumLikesText(commentSource);
                });
            });
        }

    function parseCommentId(commentIdText) {
        // comment id might be a URL
        let commentIdUrl = undefined;
        try {
            commentIdUrl = new URL(commentIdText);
        } catch {
            // Assume commentIdText is id
            return commentIdText;
        }
        const commentIdUrlParts = commentIdUrl.pathname.split('/');
        const commentsIndex = commentIdUrlParts.findIndex(part => part === 'comments');
        if (commentsIndex === -1) {
            throw Error(`Invalid comment ID: ${commentIdText}`);
        }
        return commentIdUrlParts[commentsIndex + 1];
    }

    </script>



{% endblock %}
        