{% extends 'author_manager/base.html' %}

{% block content %}
<div class="container" style="padding-top: 20px; font-family: roboto">
    <div class="text-center">
        <h1 class="card-title mb-4">My Inbox</h1>  
    </div>

    <div class="card friend-requests shadow mb-4">
        <div class="card-body">
            <h2 class="card-title mb-2">Friend Requests</h2>
            <div class="card-text">
                {% if follows %}
                    <ol class="list-group">
                        {% for follow in follows %}
                            <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                                <div>
                                    <a href="{{follow.actor.url}}"  class="text-decoration-none"> {{follow.actor}} </a>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="befriend">
                                    <input type="hidden" name="actor_id" value="{{follow.actor.id}}">
                                    <button type="submit" class="btn btn-primary">Accept</button>
                                </form>
                            </li>
                        {% endfor %}
                  </ol>
                {% else %}
                    <h5 class="form-text" style="font-size: 16px">Have no friend requests !</h5>
                {% endif %}
                    
            </div>
        </div>
    </div>
</div>
{% endblock content %}