{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="root"></div>
    <script>
        function Timestamp(time) {
            return new Date(time).toLocaleString('en-US', {
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'short', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });
        }
        function createPostCard(post) {
            var postTimestamp = new Date(post.published).toLocaleString('en-US', {
                weekday: 'short', // long, short, narrow
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'long', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });

            var postVisibility = post.visibility;
            var postVisibilityIcon = "";
            switch (postVisibility) {
                case "public":
                    postVisibilityIcon = `<i class="card-link text-success fa-solid fa-earth-americas"></i>`;
                    break;
                case "private":
                    postVisibilityIcon = `<i class="card-link text-danger fa-solid fa-lock"></i>`;
                    break;
                case "friends":
                    postVisibilityIcon = `<i class="card-link fa-solid text-primary fa-user-group"></i>`;
                    break;
            }

            let likesText = "Like";
            if (post.num_likes > 1) {
                likesText = `${post.num_likes} Likes`;
            } else if (post.num_likes > 0) {
                likesText = `${post.num_likes} Like`;
            }

            var postCardHtmlParts = [`
                <div class = "row justify-content-center container-fluid" id="${post.id}">
        <div class="col-5 align-self-center" style="padding: 20px;">
            <div class="card shadow">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'author_manager:profile' user.author.id %}" style="color:black; text-decoration: none;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="50" src="/static/img/${post.author_image}" alt="profile picture">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@${post.author_username}</div>
                                    <div class="h7 text-muted">${post.author_displayName}</div>
                                </div>
                            </div>
                        </a>
                        <div class="d-flex justify-content-between align-items-center">${postVisibilityIcon}</div>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title"><a href="${post.id}" style="text-decoration: none;color: black">${post.title}</a></h1>
                    <div class="card-text fs-6 text-muted">
                        <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;${postTimestamp}</i>
                    </div>
                    <p>
                        <p class="card-text fs-5 fw-light">
                            ${post.description} <a class="fs-6 text-muted" data-bs-toggle="collapse" href="#collapseExample-${post.id}" role="button" aria-expanded="false" aria-controls="collapseExample-${post.id}">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </p>
                </p>
                <div class="collapse" id="collapseExample-${post.id}">
                    <div class="card card-body">
                        <p>
                            Source: <a href="${post.source}" target="_blank">${post.source}</a>
                        </p>
                        <p>
                            Origin: <a href="${post.origin}" target="_blank">${post.origin}</a>
                        </p>
                    </div>
                </div>
                <br>
                <div class="card-text" id="post-content">${post.content}</div>
                `,
                post.image ? `
                    <hr>
                    <img class="card-img-bottom" src="${post.image}">
                `
                    : "",
                `
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0)" class="card-link text-muted" style="text-decoration: none;" onclick="likePost('${post.id}')"><i class="fa-solid fa-thumbs-up"></i> ${likesText}</a>
                    <a class="card-link text-muted" style="text-decoration: none;" 
                                data-bs-toggle="collapse" 
                                href="#collapseComments-${post.id}"
                                aria-expanded="false"  
                                >
                                <i class="fa-solid fa-comment-dots"></i> Comment</a>

                    <a href="#" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
                </div>
            </div>

            <div class="collapse" id="collapseComments-${post.id}">
                            <div class="card  " >
                                    <div class= " input-group ">
                                        <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text-${post.id}" ></textarea>
            
                                        <button type="submit" data-answer="${post.id}" class="btn-floating save-comment"><i class="bi bi-plus"></i> </button>
                                    </div>
                            </div>
                            <div class=" card justify-content-center pb-2 comment-wrapper-${post.id}">
                                
                                    
                                        ${post.commentsSrc.comments.map( comment =>
                                            `
                                            <div class=" justify-content-center py-2">
                                                <div class="pb-2 px-2 mx-2"
                                                style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;"
                                                >  <p class="card-text"> ${comment.comment}</p>
                                                    <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                                        <span ><a href="/authors/${comment.author.id}">
                                                         ${comment.author_displayName}</a></span>
                                                        <span>${Timestamp(comment.published)} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            `
                                        ).join('')} 
                                    
                                
                            </div>
                                            
            </div>



            </div>
        </div>
            `];
            return postCardHtmlParts.join('');
        }

        function fetchPosts() {
            $.ajax({
                type: 'GET',
                url: "{% url 'posts:my_posts_api' author_id %}",
                dataType: 'json',
                success: (data, status) => {
                    var postsList = data.posts;
                    // Get the latest post from the API
                    var postLatestFromApi = postsList[0];
                    // Get the latest post from the DOM
                    var rootFirstChild = document.getElementById("root").firstChild;
                    var postLatestElement = rootFirstChild ? rootFirstChild.nextElementSibling : null;
                    var postLatestElementId = postLatestElement ? postLatestElement.id : "empty";
                    if (postLatestElementId == "empty") {
                        var postCardsHtml = '';
                        postsList.map(post => {
                            postCardsHtml += createPostCard(post);
                        });
                        document.getElementById("root").innerHTML += postCardsHtml;
                    }
                    else if (postLatestElementId != postLatestFromApi.id) {
                        console.log(postLatestElement)
                        var rootElement = document.getElementById("root")
                        rootElement.innerHTML = createPostCard(postLatestFromApi) + rootElement.innerHTML
                    }

                    // Inject bootstrap class card-img-bottom to constrain inline image sizes
                    document.querySelectorAll("#post-content img:not(.card-img-bottom)").forEach(postContentInlineImg =>
                        postContentInlineImg?.classList.add('card-img-bottom')
                    );
                },
                error: (error) => {
                    console.log(error);
                }
            });
            setTimeout(fetchPosts, 5000);



            
            $(document).ready(function ClickOnComment(){
            $(".save-comment").off('click').on('click', function(){
                var _postid=$(this).data('answer')
                var _comment=$(".comment-text-postID".replace("postID", _postid)).val();
                
                // AJX
                $.ajax({
                    url:"/authors/{{user.author.id}}/posts/postid/comments".replace("postid", _postid),
                    type: "post",
                    data:{
                        comment:_comment,
                        post:_postid,
                        csrfmiddlewaretoken:"{{csrf_token}}"
                    },
                    dataType: 'json',
                    
                    success:function(res){
                        if(res.bool==true){
                            $(".comment-text-postID".replace("postID", _postid)).val('')

                            // Added new comment
                            var _url = "{% url 'author_manager:profile' user.author.id%}";
                            var _html=' <div class=" justify-content-center py-2">\
                                                <div class="pb-2 px-2 mx-2" \
                                                style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;" \
                                                >  <span class="card-text"> '+_comment+'</span> \
                                                    <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";> \
                                                        <span ><a href='+_url+'> \
                                                        {{request.user.author}}</a></span> \
                                                        <span>'+Timestamp(res.published)+'</span> \
                                                    </div> \
                                                </div> \
                                        </div> \
                                        ';
                            
                            $(".comment-wrapper-postID".replace("postID", _postid)).prepend(_html);
                        }
                        $(".save-comment").removeClass('disabled');
                    }
                })
            }) 
        })
        }
        fetchPosts();

        async function likePost(postId) {
            await fetch('{% url 'author_manager:like_api' user.author.id %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        summary: '{{ request.user.author }} Liked your post',
                        author: '{{ request.user.author.id }}',
                        post: postId,
                    })
            });
        }

    </script>
{% endblock %}
