{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "row justify-content-center container-fluid">
    <div class="col-5 align-self-center" style="padding: 20px;">
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#"
                        style="color:black;
                                text-decoration: none;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle"
                                        width="50"
                                        src="{{ post.author.profileImage }}"
                                        alt="profile picture">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@{{ post.author.displayName }}</div>
                                <div class="h7 text-muted">{{ post.author.host }}</div>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if post.visibility == "public" %}
                            <i class="card-link text-success fa-solid fa-earth-americas"></i>
                        {% elif post.visibility == "private" %}
                            <i class="card-link text-danger fa-solid fa-lock"></i>
                        {% elif post.visibility == "friends" %}
                            <i class="card-link fa-solid text-primary fa-user-group"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <div class="card-text fs-6 text-muted">
                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;{{ post.published }}</i>
                </div>
                <p>
                    <p class="card-text fs-5 fw-light">
                        {{ post.description }} <a class="fs-6 text-muted"
data-bs-toggle="collapse"
href="#collapseExample"
role="button"
aria-expanded="false"
aria-controls="collapseExample">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </p>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        Source: <a href="{{ post.source }}" target="_blank">{{ post.source }}</a>
                    </p>
                    <p>
                        Origin: <a href="{{ post.origin }}" target="_blank">{{ post.origin }}</a>
                    </p>
                    {% if post.unlisted %}
                        <p><i>Unlisted</i></p>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card-text" id="post-content">{{ post.content  | safe}}</div>
            {% if post.image %}
                <hr>
                <img class="card-img-bottom" src="{{ post.image }}">
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="#" class="card-link text-muted" style="text-decoration: none;" onclick="remotePostLike('{{ post.source }}')"><i class="fa-solid fa-thumbs-up"></i>
                <span id="likes-{{post.id}}">
                {% if post.num_likes > 1 %}
                    {{ post.num_likes }}&nbsp;Likes
                {% elif post.num_likes > 0 %}
                    {{ post.num_likes }}&nbsp;Like
                {% else %}
                    Like
                {% endif %}
                </span>
            </a>

            <a class="card-link text-muted" style="text-decoration: none;"
                data-bs-toggle="collapse"
                href="#collapseComments"
                aria-expanded="false"  >
                <i class="fa-solid fa-comment-dots"></i> Comment</a>

            <a href="#" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
        </div>

        <div class="collapse show" id="collapseComments">
            <div class="card" >
                    <div class= " input-group ">
                        <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text" ></textarea>
                        <button type="submit" onClick="saveRemoteComment('{{post.source}}')" class="btn-floating save-comment"><i class="bi bi-plus"></i> </button>
                    </div>
            </div>
            <div class=" card justify-content-center pb-2 comment-wrapper">

                {% for comment in comments %}
                {%  if  post.visibility  != "friends" %}
                <div class=" justify-content-center py-2">
                    <div class="pb-2 px-2 mx-2"
                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                        <p class="card-text">{% autoescape off %}{{comment.comment}}{% endautoescape %}</p>
                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                            <span ><a href="#">
                                @{{comment.author.displayName}}</a><i>
                                    - {{comment.author.host}}</i></span>
                            <span id="datePublished" data-answer="{{comment.published}}">{{comment.published}}</span>
                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                    style="text-decoration: none;"
                                    onclick={% if post.source|slice:"-1" == '/' %}
                                            "remotePostLike('{{ post.source }}{{ comment.id }}')">
                                            {% else %}
                                            "remotePostLike('{{ post.source }}/{{ comment.id }}')">
                                            {% endif %}
                                 <i class="fa-solid fa-thumbs-up"></i>
                                 <span id="likes-{{ comment.id }}">
                                 {% if comment.num_likes > 1 %}
                                    {{ comment.num_likes }} Likes
                                 {% elif comment.num_likes > 0 %}
                                    {{ comment.num_likes }} Like
                                 {% else %}
                                    Like
                                 {% endif %}
                                 </span>
                            </a></div>
                        </div>
                    </div>
                </div>
                {% elif post.author.id == request.user.author.id or comment.author.id ==  request.user.author.id or comment.author.id == post.author.id %}
                <div class=" justify-content-center py-2">
                    <div class="pb-2 px-2 mx-2"
                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                        <p class="card-text">{% autoescape off %}{{ comment.comment }}{% endautoescape %}</p>
                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                            <span ><a href="{% url 'author_manager:profile' comment.author.id %}">
                                {{comment.author.displayName}}</a></span>
                            <span id="datePublished" data-answer="{{comment.published}}">{{comment.published}}</span>
                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                style="text-decoration: none;"
                                onclick={% if post.source|slice:"-1" == '/' %}
                                        "remotePostLike('{{ post.source }}{{ comment.id }}')">
                                        {% else %}
                                        "remotePostLike('{{ post.source }}/{{ comment.id }}')">
                                        {% endif %}
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span id="likes-{{ comment.id }}"> {{comment.num_likes}} Like</span>
                            </a></div>
                        </div>
                    </div>
                </div>

                {% endif %}
                {% endfor %}


            </div>

        </div>
    </div>
    </div>
</div>
<script>
    var T08 = "http://project-socialdistribution.herokuapp.com/";
    var T05 = "https://cmput404-w22-project-backend.herokuapp.com/";
    var CLONE = "http://squawker-dev.herokuapp.com/";

    window.addEventListener('DOMContentLoaded', (event) => {
        // Inject bootstrap class card-img-bottom to constrain inline image size
        let postContentInlineImg = document.querySelector("#post-content img:not(.card-img-bottom)");
        postContentInlineImg?.classList.add('card-img-bottom');
    });


    function Timestamp(time) {
            return new Date(time).toLocaleString('en-US', {
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'short', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });
    }

    var allPublished = document.querySelectorAll("#datePublished");
    for (var i = 0; i < allPublished.length; i++) {
        var datePublished = allPublished[i].innerHTML;
        var formatDateTime = Timestamp(datePublished);
        allPublished[i].innerHTML = Timestamp(datePublished).toString();
    }

    function getNumLikesText(numLikes) {
        let text = "Like";
        if (numLikes > 1) {
            text = `${numLikes} Likes`;
        } else if (numLikes > 0) {
            text = `${numLikes} Like`;
        }
        return text;
    }

    async function remotePostLike(likedObjectSource) {
        // console.debug(`likedObjectSource=${likedObjectSource}`);
        let objectUrl = {};
        try {
            objectUrl = new URL(likedObjectSource);
        } catch (e) {
            throw Error(`${likedObjectSource} is an invalid URL`);
        }
        const objectUrlPathParts = objectUrl.pathname.split('/');
        const authorsIndex = objectUrlPathParts.findIndex(part => part === 'authors');
        const postsIndex = objectUrlPathParts.findIndex(part => part === 'posts');
        const commentsIndex = objectUrlPathParts.findIndex(part => part === 'comments');
        if (authorsIndex === -1 || postsIndex === -1) {
            throw Error(`Invalid likedObjectSource: ${likedObjectSource}`);
        }
        const authorId = objectUrlPathParts[authorsIndex + 1];
        const likedObjectType = commentsIndex === -1 ? 'Post' : 'Comment';

        let fetchUrl = `/api/node/authors/${authorId}/inbox`;
        // console.debug(`fetchUrl=${fetchUrl}`);
        await fetch(fetchUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'node': objectUrl.origin + '/'
            },
            body: JSON.stringify({
                type: 'like',
                summary: `{{ request.user.author }} Liked your ${likedObjectType}`,
                author: {
                    type: 'author',
                    id: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}',
                    host: 'https://{{ request.get_host }}',
                    displayName: '{{ request.user.author.displayName }}',
                    url: 'https://{{ request.get_host }}/api/authors/{{ request.user.author.id }}',
                    github: {% if request.user.author.github %}
                                'http://github.com/{{ request.user.author.github }}',
                            {% else %}
                                '',
                            {% endif %}
                    profileImage: 'https://{{ request.get_host }}/static/img/{{ request.user.author.profileImage }}'
                },
                object: likedObjectSource
            })
        })
            .then(response => {
                // Handle different team response behaviors
                const hostUrl = objectUrl.origin + '/';
                if (hostUrl === CLONE) {
                    if (response.status === 201) {
                        return response.json();
                    } else {
                        return response.json().then(res => Promise.reject(res));
                    }
                }
                else if (hostUrl === T08) {
                    // TODO: figure out what T08's use of 201 and 200 are
                    if (response.status === 200 || response.status === 201) {
                        return response.json();
                    } else {
                        return response.json().then(res => Promise.reject(res));
                    }
                } else if (hostUrl === T05) {
                    // TODO: verify
                    if (response.status === 200 || response.status === 201) {
                        return response.json();
                    } else {
                        return response.json().then(res => Promise.reject(res));
                    }
                }
            })
            .then((data) => {
                const numLikesRegex = /\d+/;
                const commentLikeSpan = document.querySelector(`a[onclick="remotePostLike('${likedObjectSource}')"]>span`);
                const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                })
            .catch(reason => console.error(reason));
    }

    
    async function saveRemoteComment(postSource) {
        
        var items = postSource.split('/');
        var service = items[0] + "//" + items[2] + "/"

        const authorsIndex = items.findIndex(part => part === 'authors');
        const postsIndex = items.findIndex(part => part === 'posts');
        
        var authorID = items[authorsIndex +1]
        var postID = items[postsIndex +1]

        var post = service + "authors/" + authorID + "/posts/" + postID
        var comment=$(".comment-text").val();
        var url = `/api/node/authors/${authorID}/inbox`;

        await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'node': service
            },
            body: JSON.stringify({
                type: 'comment',
                comment: comment,
                post: post     
            })
        }).then (response => {
            if (response.status === 200) {
                return response.json();
            }
        }).then(data => {
            $(".comment-text").val('')
            // Added new comment
            var _url = "{% url 'author_manager:profile' user.author.id%}";
            var _html= `<div class=" justify-content-center py-2">
                                <div class="pb-2 px-2 mx-2"
                                    style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                                    <span class="card-text">${data.comment}</span>
                                    <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                        <span ><a href='${_url}'>{{request.user.author.displayName}}</a></span>
                                        <span>${Timestamp(new Date())}</span>
                                        
                                    </div>
                                </div>
                        </div>
                        `;
            $(".comment-wrapper").prepend(_html);
        })
        }
    
</script>
{% endblock %}
