{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "row justify-content-center container-fluid">
    <div class="col-5 align-self-center" style="padding: 20px;">
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'author_manager:profile' post.author.id %}"
                        style="color:black;
                                text-decoration: none;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle"
                                        width="50"
                                        src="{% static 'img/'|add:post.author.profileImage %}"
                                        alt="profile picture">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@{{ post.author.user.username }}</div>
                                <div class="h7 text-muted">{{ post.author.displayName }}</div>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if post.visibility == "public" %}
                            <i class="card-link text-success fa-solid fa-earth-americas"></i>
                        {% elif post.visibility == "private" %}
                            <i class="card-link text-danger fa-solid fa-lock"></i>
                        {% elif post.visibility == "friends" %}
                            <i class="card-link fa-solid text-primary fa-user-group"></i>
                        {% endif %}
                        {% if isAuthor %}
                            {% if notSharePost %}
                                <a href="{% url 'posts:post_edit' post.author.id post.id %}"
                                    class="card-link text-muted"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'posts:post_delete' post.author.id post.id %}"
                                    onclick="return confirm('Are you sure you want to delete this post?');"
                                    class="card-link text-muted"><i class="fa-solid fa-trash"></i></a>
                            {% else %}
                                <a href="{% url 'posts:post_delete' post.author.id post.id %}"
                                    onclick="return confirm('Are you sure you want to delete this post?');"
                                    class="card-link text-muted"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}  
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <div class="card-text fs-6 text-muted">
                    <i class="fa-solid fa-calendar-day"> </i><i>&nbsp;&nbsp;{{ post.published }}</i>
                </div>
                <p>
                    <p class="card-text fs-5 fw-light">
                        {{ post.description }} <a class="fs-6 text-muted"
data-bs-toggle="collapse"
href="#collapseExample"
role="button"
aria-expanded="false"
aria-controls="collapseExample">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </p>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        Source: <a href="{{ post.source }}" target="_blank">{{ post.source }}</a>
                    </p>
                    <p>
                        Origin: <a href="{{ post.origin }}" target="_blank">{{ post.origin }}</a>
                    </p>
                    {% if post.unlisted %}
                        <p><i>Unlisted</i></p>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card-text" id="post-content">{{ post.content  | safe}}</div>
            {% if post.image %}
                <hr>
                <img class="card-img-bottom" src="{{ post.image.url }}">
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="#" class="card-link text-muted" style="text-decoration: none;" onclick="postLike('{{ post.author.id }}', '{{ post.id }}')"><i class="fa-solid fa-thumbs-up"></i>
                <span>
                {% if numLikes > 1 %}
                    {{ numLikes }}&nbsp;Likes
                {% elif numLikes > 0 %}
                    {{ numLikes }}&nbsp;Like
                {% else %}
                    Like
                {% endif %}
                </span>
            </a>

            <a class="card-link text-muted" style="text-decoration: none;"
                data-bs-toggle="collapse"
                href="#collapseComments"
                aria-expanded="false"  >
                <i class="fa-solid fa-comment-dots"></i> Comment</a>

            <a href="{% url 'posts:post_share' post.author.id post.id %}" class="card-link text-muted" style="text-decoration: none;"><i class="fa-solid fa-retweet"></i> Share</a>
        </div>

        <div class="collapse show" id="collapseComments">
            <div class="card" >
                    <div class= " input-group ">
                        <textarea  placeholder="Type your comment here" rows="1" class="form-control comment-text"  ></textarea>
                        <button type="submit" onClick="saveComment('{{post.id}}')" class="btn-floating save-comment"><i class="bi bi-plus"></i> </button>
                    </div>
            </div>
            <div class=" card justify-content-center pb-2 comment-wrapper">
                {% for comment in comments %}
                {%  if  post.visibility  != "friends" %}
                <div class=" justify-content-center py-2">
                    <div class="pb-2 px-2 mx-2"
                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                        <p class="card-text">{% autoescape off %}{{ comment.comment }}{% endautoescape %}</p>
                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                            <span ><a href="{% url 'author_manager:profile' comment.author.id %}">
                                {{comment.author.displayName}}</a></span>
                            <span>{{comment.published}} </span>
                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                    style="text-decoration: none;"
                                    onclick="postLike('{{ comment.author.id }}', '{{ post.id }}', '{{ comment.id }}')">
                                 <i class="fa-solid fa-thumbs-up"></i>
                                 <span>
                                 {% if comment.num_likes > 1 %}
                                    {{ comment.num_likes }} Likes
                                 {% elif comment.num_likes > 0 %}
                                    {{ comment.num_likes }} Like
                                 {% else %}
                                    Like
                                 {% endif %}
                                 </span>
                            </a></div>
                        </div>
                    </div>
                </div>
                {% elif post.author.id == request.user.author.id or comment.author.id ==  request.user.author.id or comment.author.id == post.author.id %}
                <div class=" justify-content-center py-2">
                    <div class="pb-2 px-2 mx-2"
                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                        <p class="card-text"> {% autoescape off %}{{ comment.comment }}{% endautoescape %}</p>
                        <div class=" d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                            <span ><a href="{% url 'author_manager:profile' comment.author.id %}">
                                {{comment.author.displayName}}</a></span>
                            <span id="datePublished" data-answer="{{comment.published}}">{{comment.published}} </span>
                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                style="text-decoration: none;"
                                onclick="postLike('{{comment.author.id}}', '{{post.id}}', '{{comment.id}}')">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span> {{comment.num_likes}} Like</span>
                            </a></div>
                        </div>
                    </div>
                </div>

                {% endif %}
                {% endfor %}


            </div>

        </div>
    </div>
    </div>
</div>
<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        // Inject bootstrap class card-img-bottom to constrain inline image size
        let postContentInlineImg = document.querySelector("#post-content img:not(.card-img-bottom)");
        postContentInlineImg?.classList.add('card-img-bottom');
    });


    function Timestamp(time) {
            return new Date(time).toLocaleString('en-US', {
                day: 'numeric', // numeric, 2-digit
                year: 'numeric', // numeric, 2-digit
                month: 'short', // numeric, 2-digit, long, short, narrow
                hour: 'numeric', // numeric, 2-digit
                minute: 'numeric', // numeric, 2-digit
            });
    }

    // var datePublished = $("#datePublished").data('answer');
    // var content = document.getElementById("datePublished");
    // console.log(Timestamp(datePublished));
    // content.innerHTML = Timestamp(datePublished).toString();

    
    function saveComment(postID) {
        var _comment=$(".comment-text").val();
        var url = `/authors/{{user.author.id}}/posts/${postID}/comments`;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'comment':_comment,                    
            })
        }).then
        (response => {
            if (response.status === 200) {
                return response.json();
            }
        }).then(res => {
            if(res.bool==true){
                $(".comment-text").val('')
                // Added new comment
                var _url = "{% url 'author_manager:profile' user.author.id%}";
                var _html= `<div class=" justify-content-center py-2">
                                    <div class="pb-2 px-2 mx-2"
                                        style="background-color: #00000008; box-shadow: 5px 5px 2px #cccccc;">
                                        <span class="card-text">${res.comment}</span>
                                        <div class="d-flex justify-content-between py-1 pt-2" style="font-size: 13px";>
                                            <span ><a href='${_url}'>{{request.user.author}}</a></span>
                                            <span>${Timestamp(res.published)}</span>
                                            <div><a href="javascript:void(0)" class="card-link text-muted"
                                                    style="text-decoration: none;"
                                                    onclick="postLike('${res.author}', '${postID}', '${res.id}')">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                <span> ${getNumLikesText(res.num_likes)}</span>
                                            </a></div>
                                        </div>
                                    </div>
                            </div>
                            `;
            
                $(".comment-wrapper").prepend(_html);
            }
        });

    }
    function getNumLikesText(numLikes) {
        let text = "Like";
        if (numLikes > 1) {
            text = `${numLikes} Likes`;
        } else if (numLikes > 0) {
            text = `${numLikes} Like`;
        }
        return text;
    }

    async function postLike(authorId, postId, commentId) {
        await fetch(`/api/authors/${authorId}/inbox`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                "@context": "https://www.w3.org/ns/activitystreams",
                summary: '{{ request.user.author }} Liked your '.concat(commentId ? 'comment' : 'post'),
                type: 'like',
                author: {
                    id: '{{ request.user.author.id }}',
                    host: '{{ request.user.author.host }}',
                    displayName: '{{ request.user.author.displayName }}',
                    url: '{{ request.user.author.url }}',
                    github: '{{ request.user.author.github }}',
                    profileImage: '{{ request.user.author.profileImage }}'
                },
                object: `{{ request.user.author.host }}authors/${authorId}/posts/${postId}`
                    .concat(commentId ? `/comments/${commentId}` : '')
            })
        })
            .then(response => {
                if (response.status == 201) {
                    return response.json();
                } else {
                    return response.json().then(res => Promise.reject(res));
                }
            })
            .catch(reason => console.error(reason))
            .then(data => {
                if (!data) {
                    return;
                }
                const numLikesRegex = /\d+/;
                if (commentId) {
                    const commentLikeSpan = document.querySelector(
                        `a[onclick="postLike('${authorId}', '${postId}', '${commentId}')"]>span`);
                    const numLikes = parseInt(commentLikeSpan.innerText.match(numLikesRegex)) || 0;
                    commentLikeSpan.innerText = getNumLikesText(numLikes + 1);
                } else {
                    const postLikeSpan = document.querySelector(
                        `a[onclick="postLike('${authorId}', '${postId}')"]>span`);
                    const numLikes = parseInt(postLikeSpan.innerText.match(numLikesRegex)) || 0;
                    postLikeSpan.innerText = getNumLikesText(numLikes + 1);
                }
            })
    }
</script>
{% endblock %}
